@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  color: #12e427;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper:hover {
  margin-top: -2px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper2 {
  color: #928e8e;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper2:hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper3 {
  color: #f324246c;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.wrapper3:hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}

.wrapper4 {
  color: #00ffc3c0;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper4:hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

/*Social media icons ends*/

.dp {
  background: linear-gradient(270deg, rgba(50, 50, 50, 0) 0, rgba(50, 50, 50, 0) 76%, rgba(0, 0, 0, 1) 84%, rgba(0, 0, 0, 1) 100%), linear-gradient(90deg, rgba(50, 50, 50, 0) 0, rgba(50, 50, 50, 0) 73%, rgba(0, 0, 0, 1) 81%, rgba(0, 0, 0, 1) 100%), url("/sk.png");
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: 50% 50%, 50% 50%, 50% 16%;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-size: auto auto, auto auto, contain;
}

.active {
  padding: 4px 10px;
  backdrop-filter: blur(10px) saturate(95%);
  -webkit-backdrop-filter: blur(10px) saturate(95%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.fnt2 {
  font-family: 'Monoton', cursive;
  background: -webkit-linear-gradient(45deg, #728472, #b2b2ad, #828282 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(8px 8px 3px #000000);
  filter: drop-shadow(8px 8px 3px #00ffc3);
}

.bg20 {
  background: url("https://images.wallpaperscraft.com/image/single/anonymous_human_hood_185754_3840x2400.jpg");
  background-position: 50% 100%;
  background-size: cover;
  background-attachment: fixed;
}

/*Button*/
.custom-btn {
  width: 180px;
  height: 40px;
  color: #f7f7f7;
  border-radius: 50px;
  margin-top: 10px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-13 {
  background-color: transparent;
  border: none;
  z-index: 1;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
    -7px -7px 20px 0px #5f5d5d99,
    -4px -4px 5px 0px #5f5d5d99,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-13:hover {
  color: #102310;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}

.btn-13:active {
  top: 2px;
}

/*reflected text */
.reflected {
  display: inline-block;
  font-family: 'Fredericka the Great', cursive;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1px;
}

.reflected> :last-child {
  transform: rotateX(180deg) translateY(20px);
  mask-image: linear-gradient(transparent 30%, white 99%);
  -webkit-mask-image: linear-gradient(transparent 30%, white 99%);
  opacity: 0.72;
}



/*Glassmorphism */
.glass {
  backdrop-filter: blur(4px) saturate(95%);
  -webkit-backdrop-filter: blur(4px) saturate(95%);
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 4px;
  border: 1px solid rgba(209, 213, 219, 0.01);
}

/*background*/
.bg1 {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%), url("/hd.png");
  background-repeat: repeat, no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-size: cover;
  background-attachment: fixed;
}

/* header starts */
/*Header ends */
/* navbar starting */

.navbar {
  position: fixed;
  top: 25%;
  left: 1%;
  -webkit-backdrop-filter: blur(4px) saturate(110%);
          backdrop-filter: blur(4px) saturate(110%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: linear-gradient(to top, rgba(0, 255, 204, 0.447) , rgba(0, 0, 0, 0));
  border-radius: 20%;
  border: transparent;
  color: rgb(146, 235, 30);
  z-index: 100;
}

.navbar2 {
  position: fixed;
  bottom: 0;
  -webkit-backdrop-filter: blur(4px) saturate(110%);
          backdrop-filter: blur(4px) saturate(110%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: linear-gradient(to bottom, rgba(0, 255, 204, 0.247) , rgba(0, 0, 0, 0));
  border-radius: 20%;
  border: transparent;
  color: rgb(146, 235, 30);
  z-index: 100;
}

/* navbar ends */
.bgh {
  background-color: rgba(13, 15, 23, 0.4)
}


.h {
  background: #676b71;
}


.wrapper i:nth-child(1) {
  color: #4867AA;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
  color: #1DA1F2;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper i:nth-child(3) {
  color: #444;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(3):hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}

.wrapper i:nth-child(4) {
  color: #fffc00;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(4):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.text-content {
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(6px) saturate(110%);
          backdrop-filter: blur(6px) saturate(110%);
  position: absolute;
  transform: translateY(55%);
  transition: 0.4s;
  visibility: hidden;
}


.card9:hover .text-content {
  transform: translateY(0%);
  visibility: visible;
}