@tailwind base;
@tailwind components;
@tailwind utilities;

.trs {
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 240, 60, 0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 238, 235, 0.3);
}

.bx3 {
  box-shadow: inset -2px 2px 5px #121212,
    inset 2px -2px 5px #121212;
}

.bx3:hover {
  box-shadow: 5px 5px 10px #171717,
    -5px -5px 10px #000000;
}

.bx {
  box-shadow: inset -2px 2px 5px #181818,
    inset 2px -2px 5px #3b3b3b;
  background: #000000;
}

.bx2 {
  border: 2px solid #616161;
  box-shadow: 0 0 10px 0 #0a0a0a inset,
    0 0 10px 4px #090a0b;
  -webkit-animation: pulsate 2s ease-in-out;
          animation: pulsate 2s ease-in-out;
}

@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0 0 10px 0 #1a1e1f inset,
      0 0 10px 4px #171c1a;
  }
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px 0 #1a1e1f inset,
      0 0 10px 4px #171c1a;
  }
}

.bgc {
  background: url("/bg/ecommerce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.bgc2 {
  background: url("/bg/todorjs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

.bgc3 {
  background: url("/bg/flix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.bgc4 {
  background: url("/bg/todots2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.bgc5 {
  background: url("/bg/player2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.bgc6 {
  background: url("/bg/weather2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.bgc7 {
  background: url("/bg/grocery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.grid-wrapper {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 325px;
}

.ph {
  height: 48%;
  width: 30%;
}

.ph2 {
  height: 90%;
}

.p2 {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}